<h1>Editing article</h1>
<!-- CSS rules for styling the element inside the editor such as p, h1, h2, etc. -->
<div class="fr-view">
  <%= form_for :article, url: article_path(@article), method: :patch do |f| %>
  <%= render 'form' %>

  <%= link_to 'Back', articles_path %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>
</div>

