<h1>Hello, Welcome to Rails based Web Blog</h1>
<div class="container">
	<% if user_signed_in? %>
            <li><%= link_to 'Blog Posts', :controller =>'articles' %></li>
			<li><%= link_to 'New Blog Post', :controller =>'articles' , :action =>'new' %></li>
    <% else %>
          	<strong>New User ? <%= link_to 'Sign Up', new_user_registration_path %></strong><br><br>
          	<strong>Returning Back ? <%= link_to 'Log In', new_user_session_path %></strong><br>

    <% end %>
</div>


