<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<h1>Edit Your Profile Here:</h1>
  <div class="form-group">
    <%= f.label "Email: " %>
    <%= f.email_field :email, class: 'form-control' %><br><br>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label "Password: " %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <span class="help-block">leave blank if you don't want to change it</span><br><br>
  </div>

  <div class="form-group">
    <%= f.label "Password Confirmation: " %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %><br><br>
  </div>

  <div class="form-group">
    <%= f.label "Current Password: " %>
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    <span class="help-block">we need your current password to confirm your changes</span><br><br>
  </div>

  <%= f.submit "Update", class: 'btn btn-primary' %>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy with our service ???
  <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger',
                data: { confirm: "Are you sure?" }, method: :delete %>
</p>

<%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>